<% presents.each do |gift| %>
    <div class="post my-4">
      <div class="post__head">
        <p><%= gift.created_at.strftime('%Y/%m/%d') %></p>
        <div class="post__head--right">
          <p><%= link_to gift.comments.count, present_path(gift, anchor: "comments-area"), class: "far fa-comment-dots" %></p>
          <% if user_signed_in? %>
            <div id="favorite_<%= gift.id %>">
              <%= render "favorites/favorite", present: gift %>
            </div>
          <% else %>
            <p class="far fa-laugh"><%= gift.favorites.count %></p>
          <% end %>
        </div>
      </div>
      <%= link_to present_path(gift) do %>
        <%= attachment_image_tag gift, :item_image, format:'jpeg', fallback: 'top-back.jpeg' %><br>
      <% end %>
      <h2 class="post__title">#<%= gift.item %></h2>
      <p class="post__text"><%= gift.memo.truncate(40, separator: /\s/) %></p>
      <div class="post__user">
        <p class="post__scene">贈り物シーン：<%= gift.scene_status_i18n %><p>
        <%= link_to user_path(gift.user) do%>
          <%= attachment_image_tag gift.user, :image, format:'jpeg', fallback: 'noimage-user.jpeg' %>
        <% end %>
        <% if gift.gift_status == "give" %>
          <span> from: <%= link_to gift.user.name, user_path(gift.user) %></span>
        <% else %>
          <span> to: <%= link_to gift.user.name, user_path(gift.user) %></span>
        <% end %>
      </div>
    </div>
<% end %>