<div class="inner">
  <h1 class="title">Present Log </h1>
  <p class="sub-title">贈り物ログ</p>

  <div class="gift row justify-content-center">
    <div class="gift__left col-sm-5">
      <div class="gift__photo">
        <p class="gift__date"><%= @present.created_at.strftime('%Y/%m/%d') %></p>
        <p><%= attachment_image_tag @present, :item_image, format:'jpg', fallback:'no-image.jpg' %></p>
        <h2 class="gift__title"># <%= @present.item %></h2>
      </div>
      <div class="tags">
        <% @present.tags.each do |tag| %>
          <%= link_to search_path(content: tag.name) do %>
            <span class="tags__label"><i class="fas fa-tag"></i><%= tag.name %></span>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="gift-right col-sm-5">
      <%= link_to user_path(@present.user) do %>
      <p>
        <%= attachment_image_tag @present.user, :image, format:'jpg', fallback:'noimage-user.jpg' %>
        <%= @present.user.name %>
      </p>
      <% end %>
      <% if @present.gift_status == "give" %>
        <p class="fas fa-gift"> to: <%= @present.friend.relation_i18n %></p>
      <% else %>
        <p class="fas fa-gift"> from: <%= @present.friend.relation_i18n %></p>
      <% end %>
      <p><i class="far fa-calendar-alt"></i>  <%= @present.scene_status_i18n %></p>
      <p class="far fa-money-bill-alt"> <%= @present.price %>円</p>
      <p><i class="fas fa-file-signature"></i> 一言コメント：<br /><%= @present.memo %></p>
      <div class="gift-right__button">
        <% if @present.user == current_user %>
          <%= link_to edit_present_path(@present), method: :get, class: "btn btn-primary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to present_path(@present), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-secondary" do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        <% else %>
          <div id="favorite_<%= @present.id %>">
            <%= render "favorites/favorite", present: @present %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="comments-group">
    <h1 class="title">Comments</h1>
    <p class="sub-title">みんなのコメント</p>
    <div id="comments-area">
      <% unless @present.comments.exists? %>
        <p>コメントはありません。</p>
      <% end %>
      <%= render 'comments/comment', present: @present %>
    </div>
    <div class="comment-form">
      <%= render 'comments/form', present: @present, comment: Comment.new %>
    </div>
  </div>
</div>