<% present.comments.each do |comment| %>
  <div class="comment row">
    <div class="comment__user col-2">
      <%= link_to user_path(comment.user) do %>
        <%= attachment_image_tag comment.user, :image, format: "jpg", fallback: "noimage-user.jpg" %>
      <% end %>
    </div>
    <div class="comment__text col-9">
      <p class="comment__name"><%= comment.user.name%> <time class="comment__date"><%= comment.created_at.strftime("%Y/%m/%d") %></time></p>
      <p><%= comment.comment %></p>
    </div>
    <div class="comment__btn col-1 d-flex">
      <% if comment.user_id == current_user.id %>
        <%= link_to present_comment_path(comment.present_id, comment.id), method: :delete, remote: true, class: "btn btn-secondary align-self-end" do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>