<%= form_with model: friend, local: true do |f| %>
  <div class="edit__field">
    <%= f.label :name, "名前" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "山田太郎" %>
  </div>

  <div class="edit__field">
    <%= f.label :kana_name, "フリガナ（空白なし）" %><br />
    <%= f.text_field :kana_name, autocomplete: "name", placeholder: "ヤマダタロウ" %>
  </div>

  <div class="edit__field">
    <%= f.label :relation, "相手との関係" %><br />
    <%= f.select :relation, Friend.relations_i18n.keys.map {|k| [I18n.t("enums.friend.relation.#{k}"), k]} %>
  </div>

  <div class="edit__field">
    <%= f.label :gender, "性別" %><br />
    <%= f.radio_button :gender, :male %>
    <%= f.label :gender, "男性" %>
    <%= f.radio_button :gender, :female %>
    <%= f.label :gender, "女性" %>
  </div>

  <div class="edit__field">
    <%= f.label :memo, "一言メモ" %><br />
    <%= f.text_field :memo, placeholder: "相手の好きなものなど贈り物を用意するときに参考になる情報を記載しておこう" %>
  </div>

  <div class="edit__action">
    <%= f.submit %>
  </div>
<% end %>