<div class="friends-wrap row">

  <div class="friend-index col-lg-8">
    <h1 class="title">Friends</h1>
    <p class="sub-title">フレンド一覧</p>
    <% unless @friends.exists? %>
      <p>登録されたフレンドはいません。</p>
    <% else %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>名前</th>
            <th>性別</th>
            <th>関係性</th>
            <th>メモ</th>
            <th>編集</th>
            <th>削除</th>
          </tr>
        </thead>
        <% @friends.each do |friend| %>
          <tbody>
              <tr>
                <td data-link="<%= friend_path(friend) %>"><%= friend.name %></td>
                <td data-link="<%= friend_path(friend) %>"><%= friend.gender_i18n %></td>
                <td data-link="<%= friend_path(friend) %>"><%= friend.relation_i18n %></td>
                <td data-link="<%= friend_path(friend) %>"><%= friend.memo %></td>
                <td>
                  <%= link_to edit_friend_path(friend), class: "btn btn-primary" do %>
                    <p class="fas fa-edit"></p>
                  <% end %>
                </td>
                <td>
                  <%= link_to friend_path(friend), method: :delete, data: { confirm: "フレンドに関するイベントや投稿も削除されます。\n本当に削除しますか？" }, class: "btn btn-danger" do %>
                    <p class="far fa-trash-alt"></p>
                  <% end %>
                </td>
              </tr>
          </tbody>
        <% end %>
      </table>
    <% end %>
  </div>
  <div class="friend-new col-lg-4">
    <%= notice %>
    <h1 class="title">New Friend</h1>
    <p class="sub-title">フレンド新規登録</p>
    <%= render "layouts/errors", obj: @friend %>
    <%= render "form", friend: @friend %>
  </div>
</div>