<div class="inner">
  <div class="users-box">
    <div class="edit">
      <h1 class="title">プロフィール編集</h1>
      <div><%= attachment_image_tag @user, :image, :fill, 50, 50, format:'jpeg', fallback:'noimage-user.jpeg', size:'200x200' %></div>
      <%= form_with model:@user, local: true do |f| %>

      <div class="edit__field">
        <%= f.label :name, "ニックネーム" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="edit__field">
        <%= f.label :image_id, "プロフィール画像" %><br />
        <%= f.attachment_field :image %>
      </div>

      <div class="edit__field">
        <%= f.label :introduce, "自己紹介" %><br />
        <%= f.text_field :introduce %>
      </div>

      <div class="edit__action">
        <%= f.submit %>
      </div>

      <% end %>
    </div>
  </div>
</div>