<div class="inner">
  <div class="users-box">
    <!--アラートが表示されているかあとで確認-->
    <% notice %>
    <div class="user-info">
      <p><%= attachment_image_tag @user, :image, :fill, 50, 50, format:'jpeg', fallback:'noimage-user.jpeg', size:'100x100' %></p>
      <div class="user-info__item">
        <h4>Follower</h4>
        <p>3</p>
      </div>
      <div class="user-info__item">
        <h4>Follow</h4>
        <p>3</p>
      </div>
      <div class="user-info__item">
        <h4>お気に入り</h4>
        <p><%= link_to @user.favorites.count, favorites_user_path(@user) %></p>
      </div>
    </div>
    <div class="profile">
      <h2 class="profile__title">Profile</h2>
      <h4 class="profile__sub-title">ニックネーム</h4>
      <p><%= @user.name %></p>
      <h4 class="profile__sub-title">自己紹介</h4>
      <p><%= @user.introduce %></p>
      <% if @user.id == current_user.id %>
        <%= link_to "編集", edit_user_path(current_user) %>
      <% end %>
    </div>
  </div>
  <% @presents.each do |gift| %>
    <%= link_to present_path(gift) do%>
      <div class="user-post">
        <h2>投稿</h2>
        <%= gift.created_at.strftime('%Y/%m/%d') %>
        <%= attachment_image_tag gift, :item_image, :fill, 50, 50, format:'jpeg', fallback:'noimage-user.jpeg', size:'100x100'%><br>

        <% if gift.return_status == "preparation" %>
          <p><%= link_to gift.return_status_i18n, switch_return_status_present_path(gift.id), method: :patch %></p>
        <% else %>
          <p><%= gift.return_status_i18n %></p>
        <% end %>

        <p>品名：<%= gift.item %></p>
        <p>シーン：<%= gift.scene_status_i18n %><p>
        <div id="favorite_<%= gift.id %>">
          <%= render "favorites/favorite", present: gift %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>