<header class="header">
  <div class="header__logo">
    <h2>PRESENTIST</h2>
  </div>

  <nav class="header__nav">
    <ul class="header__ul">
      <% if user_signed_in? %>
        <li class="header__item"><%= link_to "マイページ", user_path(current_user.id) %></li>
        <li class="header__item"><%= link_to "贈り物ログ", presents_path %></li>
        <li class="header__item">記念日</li>
        <li class="header__item"><%= link_to "フレンド", friends_path %></li>
        <li class="header__item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li class="header__item"><%= link_to "Top", root_path %></li>
        <li class="header__item"><%= link_to "About", about_path %></li>
        <li class="header__item"><%= link_to 'Ranking', ranking_path %></li>
        <li class="header__item"><%= link_to "Log in", new_user_session_path %></li>
        <li class="header__item"><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
    </ul>
  </nav>

</header>