<div class="header">
  <div class="header__logo">
    <h2>PRESENTIST</h2>
  </div>

  <nav class="header__nav">
    <ul class="header__ul">
      <% if user_signed_in? %>
        <li><%= link_to "ホーム", ranking_path, class:"btn header__btn" %></li>
        <li><%= link_to "マイページ", user_path(current_user.id), class:"btn header__btn" %></li>
        <li><%= link_to "贈り物ログ", presents_path, class:"btn header__btn" %></li>
        <li><%= link_to "記念日", events_path, class:"btn header__btn" %></li>
        <li><%= link_to "フレンド", friends_path, class:"btn header__btn" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"btn header__btn" %></li>
      <% else %>
        <li><%= link_to "Top", root_path, class:"btn header__btn" %></li>
        <li><%= link_to "About", about_path, class:"btn header__btn" %></li>
        <li><%= link_to 'Ranking', ranking_path, class:"btn header__btn" %></li>
        <li><%= link_to "Log in", new_user_session_path, class:"btn header__btn" %></li>
        <li><%= link_to "Sign Up", new_user_registration_path, class:"btn header__btn" %></li>
      <% end %>
    </ul>
  </nav>
  <% if user_signed_in? %>
    <p><%= link_to "ログ作成", new_present_path, class:"fas fa-gifts btn btn-link" %></p>
    <%= render 'searches/search_form' %>
  <% end %>
</div>