<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand p-3" href="/">
      <%= image_tag asset_path('logo.png'), alt: "PRESENTIST", class: "top-logo" %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "ホーム", ranking_path, class:"btn sp__btn" %></li>
          <li><%= link_to "マイページ", user_path(current_user.id), class:"btn sp__btn"  %></li>
          <li><%= link_to "贈り物ログ", presents_path, class:"btn sp__btn"  %></li>
          <li><%= link_to "記念日", events_path, class:"btn sp__btn"  %></li>
          <li><%= link_to "フレンド", friends_path, class:"btn sp__btn"  %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"btn sp__btn"  %></li>
        <% else %>
          <li><%= link_to "Top", root_path, class:"btn sp__btn"  %></li>
          <li><%= link_to "About", about_path, class:"btn sp__btn"  %></li>
          <li><%= link_to 'Ranking', ranking_path, class:"btn sp__btn"  %></li>
          <li><%= link_to "Log in", new_user_session_path, class:"btn sp__btn"  %></li>
          <li><%= link_to "Sign Up", new_user_registration_path, class:"btn sp__btn"  %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <% if user_signed_in? %>
    <p><%= link_to "ログ作成", new_present_path, class:"fas fa-gifts btn btn-link" %></p>
  <% end %>
</header>