<!DOCTYPE html>
<html>
  <head>
    <title>Presentist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless controller.controller_name.in?(['registrations','sessions','homes']) %>
      <%= render 'layouts/header'%>
    <% end %>
    <main>
    <%= yield %>
    </main>
    <% unless controller.controller_name.in?(['registrations','sessions','homes']) %>
      <%= render 'layouts/footer'%>
    <% end %>
  </body>
</html>
